.shape {
    position: relative;
    height: fit-content;
    box-shadow: 0 -.2em 1em .1em var(--navbar-fade) inset;

    z-index: 99; // have to do this in order to show the navbar dropdown items //
}

.light-theme {
    background: linear-gradient(to bottom, var(--navbar-light-top), var(--navbar-light-bottom));
    color: var(--light-font);
}
.dark-theme {
    background: linear-gradient(to bottom, var(--navbar-light-top), var(--navbar-light-bottom));
    color: var(--light-font);
}

.menu-element {
    cursor: pointer;
    text-align: center;
    padding: .33em;
    border-radius: .33em;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;

    &:hover {
        text-decoration: underline;
    }
}

.dropdown-element {
    text-align: center;
    padding: .33em;
    border-radius: .33em;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;

}

.clickable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.language {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;

    &:hover {
        color: rgb(65, 65, 65)
    }
}