.shape {
    height: fit-content;
    box-shadow: 0 -.2em 1em .1em var(--navbar-fade) inset;
}

.light-theme {
    background: linear-gradient(to bottom, var(--navbar-light-top), var(--navbar-light-bottom));
    color: var(--light-font);
}
.dark-theme {
    background: linear-gradient(to bottom, var(--navbar-light-top), var(--navbar-light-bottom));
    color: var(--light-font);
}

.menu-element {
    cursor: pointer;
    text-align: center;
    padding: .33em;
    border-radius: .33em;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;

    &:hover {
        text-decoration: underline;
    }
}