@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next, .wrapper {
  margin: 0;
  height: 100%;

  display: flex;
  flex-flow: column;
  font-family: "Anta", sans-serif;
}

.wrapper {
  background: linear-gradient(to bottom, var(--secondary-light-background), var(--primary-light-background));
}

.main-screen {
  flex: auto;
}

select {
  cursor: pointer;
}

.fading-in {
  animation: fadeIn 200ms ease-in;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}