@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next, .wrapper {
  margin: 0;
  height: 100%;

  display: flex;
  flex-flow: column;
}

.main-screen {
  flex: auto;
}

select {
  cursor: pointer;
}